.todo-list, .todo-item{
    margin:0;
    padding:0;
}
.todo-item{
    list-style: none;
    height:27px;
    line-height:27px;
    background: #f3f3f3;
    margin-bottom: 6px;
    overflow: hidden;
    word-break: break-all;
}
.todo-item:hover{
    background: #e3e3e3;
}
.item-check{
    float:left;
    margin-top: 7px;
}
.item-btn{
    float:right;
    margin:3px 5px 0 0;
}
.item-txt{
    margin-right: 80px;
}